In [44]:
#Import Pandas
import pandas as pd
from sqlalchemy import create_engine

In [45]:
#Read CSV
df = pd.read_csv('data.csv', parse_dates=True)

In [46]:
#Filter Columns
df = df[['IM_INCIDENT_KEY', 'INCIDENT_DATE_TIME', 'ARRIVAL_DATE_TIME', 'TOTAL_INCIDENT_DURATION', 'ACTION_TAKEN1_DESC', 'ACTION_TAKEN2_DESC', 'ZIP_CODE', 'BOROUGH_DESC']]

In [47]:
#Get All columns name
#df.columns

In [48]:
#Check memory Usage (6.1 MB)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119324 entries, 0 to 119323
Data columns (total 8 columns):
IM_INCIDENT_KEY            119324 non-null int64
INCIDENT_DATE_TIME         119324 non-null object
ARRIVAL_DATE_TIME          118636 non-null object
TOTAL_INCIDENT_DURATION    119324 non-null int64
ACTION_TAKEN1_DESC         119324 non-null object
ACTION_TAKEN2_DESC         115132 non-null object
ZIP_CODE                   119322 non-null float64
BOROUGH_DESC               119324 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.3+ MB

In [49]:
#Reduce memory Usage (4.9 MB)
df['ACTION_TAKEN1_DESC'] = df['ACTION_TAKEN1_DESC'].astype('category')
df['ACTION_TAKEN2_DESC'] = df['ACTION_TAKEN2_DESC'].astype('category')
df['BOROUGH_DESC'] = df['BOROUGH_DESC'].astype('category')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119324 entries, 0 to 119323
Data columns (total 8 columns):
IM_INCIDENT_KEY            119324 non-null int64
INCIDENT_DATE_TIME         119324 non-null object
ARRIVAL_DATE_TIME          118636 non-null object
TOTAL_INCIDENT_DURATION    119324 non-null int64
ACTION_TAKEN1_DESC         119324 non-null category
ACTION_TAKEN2_DESC         115132 non-null category
ZIP_CODE                   119322 non-null float64
BOROUGH_DESC               119324 non-null category
dtypes: category(3), float64(1), int64(2), object(2)
memory usage: 4.9+ MB

In [50]:
# Drop NA Valus
df = df.dropna()
df.head(3)

,IM_INCIDENT_KEY,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC
2,63476614,06/30/2018 11:22:51 PM,06/30/2018 11:27:18 PM,995,86 - Investigate,45 - Remove hazard,10472.0,2 - Bronx
3,63476562,06/30/2018 11:05:55 PM,06/30/2018 11:11:39 PM,671,44 - Hazardous materials leak control & contai...,64 - Shut down system,10452.0,2 - Bronx
4,63476510,06/30/2018 10:53:15 PM,06/30/2018 10:58:49 PM,1384,44 - Hazardous materials leak control & contai...,64 - Shut down system,10463.0,2 - Bronx

In [51]:
# Get Columns Types
df.dtypes

IM_INCIDENT_KEY               int64
INCIDENT_DATE_TIME           object
ARRIVAL_DATE_TIME            object
TOTAL_INCIDENT_DURATION       int64
ACTION_TAKEN1_DESC         category
ACTION_TAKEN2_DESC         category
ZIP_CODE                    float64
BOROUGH_DESC               category
dtype: object

In [52]:
# Split Date/Time and export to a separate dataframe
INCIDENT_DATE_TIME = df["INCIDENT_DATE_TIME"].str.split(" ", n = 1, expand = True) 
ARRIVAL_DATE_TIME = df["ARRIVAL_DATE_TIME"].str.split(" ", n = 1, expand = True)

In [53]:
#Delete column in the original DF with the date and time combined (we will merge the new df)
del df['INCIDENT_DATE_TIME']
del df['ARRIVAL_DATE_TIME']

In [54]:
#Reset Indexes (they now start at two)

#First DF
df.reset_index(inplace=True, drop=True)

#Second DF
INCIDENT_DATE_TIME.reset_index(inplace=True, drop=True)

#Third DF
ARRIVAL_DATE_TIME.reset_index(inplace=True, drop=True)

In [55]:
#Rename new DF columns names

#Incident Date/time
INCIDENT_DATE_TIME.rename(columns={0: 'Incident Date', 1: 'Incident Time'}, inplace=True)

#Arrival Date/Time
ARRIVAL_DATE_TIME.rename(columns={0: 'Arrival Date', 1: 'Arrival Time'}, inplace=True)

In [56]:
# Join the two DFs
df = df.join(INCIDENT_DATE_TIME, how='outer')
df = df.join(ARRIVAL_DATE_TIME, how='outer')

In [57]:
df.head(3)

,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Date,Incident Time,Arrival Date,Arrival Time
0,63476614,995,86 - Investigate,45 - Remove hazard,10472.0,2 - Bronx,06/30/2018,11:22:51 PM,06/30/2018,11:27:18 PM
1,63476562,671,44 - Hazardous materials leak control & contai...,64 - Shut down system,10452.0,2 - Bronx,06/30/2018,11:05:55 PM,06/30/2018,11:11:39 PM
2,63476510,1384,44 - Hazardous materials leak control & contai...,64 - Shut down system,10463.0,2 - Bronx,06/30/2018,10:53:15 PM,06/30/2018,10:58:49 PM

In [58]:
#Import weather data frame and parse dates
df_weather = pd.read_csv("nycweatherdata.csv", parse_dates=True)
df_weather.head(3)

       STATION    DATE  TMAX  TMIN
0  USW00094728  1/1/13    40    26
1  USW00094728  1/2/13    33    22
2  USW00094728  1/3/13    32    24

In [59]:
# Rename column name/ we need to match the two columns name in the weather and our original df to join on
df_weather.rename(columns={'DATE': 'Incident Date'}, inplace=True)
df_weather.head(3)

       STATION Incident Date  TMAX  TMIN
0  USW00094728        1/1/13    40    26
1  USW00094728        1/2/13    33    22
2  USW00094728        1/3/13    32    24

In [61]:
# Convert the dates columns to date_time object to join on
df['Incident Date'] = pd.to_datetime(df['Incident Date'])
df_weather['Incident Date'] = pd.to_datetime(df_weather['Incident Date'])

In [62]:
# Join weather and our DF
final_df = df_weather.merge(df, on='Incident Date')

In [63]:
# Delete Station column (we don't need it)
del final_df['STATION']

In [64]:
# verify join worked fine
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455.0,2 - Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027.0,1 - Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207.0,4 - Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [65]:
# Get rid of the .0 that is in the zip code column
final_df['ZIP_CODE'] = final_df['ZIP_CODE'].astype(int)

In [66]:
# Check zipcode formatting
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,2 - Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,1 - Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,4 - Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [67]:
#Remove numbers that are nex to the Bourough (Maps need only the name with no nums)
final_df['BOROUGH_DESC'] = final_df['BOROUGH_DESC'].map(lambda x: str(x)[4:])

In [68]:
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [69]:
final_df = final_df.rename(columns = {"Incident Date": "Date",
                                 "Arrival Date":"Arrival_Date",
                                 "Arrival Time": "Arrival_Time",
                                    "Incident Time":"Incident_Time"})

In [70]:
final_df.head()

,Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident_Time,Arrival_Date,Arrival_Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM
3,2013-01-01,40,26,55675547,1025,44 - Hazardous materials leak control & contai...,64 - Shut down system,11373,Queens,10:26:05 PM,01/01/2013,10:29:29 PM
4,2013-01-01,40,26,55675480,1054,44 - Hazardous materials leak control & contai...,64 - Shut down system,11360,Queens,09:33:56 PM,01/01/2013,09:39:20 PM

In [71]:
engine = create_engine('sqlite:///coned.db', echo=True)

In [72]:
final_df.to_sql('ConEdDB', con=engine, if_exists='replace')

2019-08-24 12:16:06,663 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-08-24 12:16:06,664 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,664 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-08-24 12:16:06,665 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,666 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-24 12:16:06,666 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,668 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-24 12:16:06,668 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,669 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-08-24 12:16:06,670 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,671 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-24 12:16:06,671 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,673 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-24 12:16:06,673 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,674 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ConEdDB")
2019-08-24 12:16:06,675 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,676 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-24 12:16:06,676 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,677 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ConEdDB")
2019-08-24 12:16:06,678 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,678 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ConEdDB_index")
2019-08-24 12:16:06,679 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,680 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ConEdDB")
2019-08-24 12:16:06,681 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,682 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ConEdDB_index")
2019-08-24 12:16:06,682 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,683 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-24 12:16:06,684 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,686 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ConEdDB"
2019-08-24 12:16:06,686 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,880 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 12:16:06,883 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ConEdDB" (
	"index" BIGINT,
	"Date" DATETIME,
	"TMAX" BIGINT,
	"TMIN" BIGINT,
	"IM_INCIDENT_KEY" BIGINT,
	"TOTAL_INCIDENT_DURATION" BIGINT,
	"ACTION_TAKEN1_DESC" TEXT,
	"ACTION_TAKEN2_DESC" TEXT,
	"ZIP_CODE" BIGINT,
	"BOROUGH_DESC" TEXT,
	"Incident_Time" TEXT,
	"Arrival_Date" TEXT,
	"Arrival_Time" TEXT
)


2019-08-24 12:16:06,884 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,885 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 12:16:06,886 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ConEdDB_index" ON "ConEdDB" ("index")
2019-08-24 12:16:06,887 INFO sqlalchemy.engine.base.Engine ()
2019-08-24 12:16:06,889 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 12:16:07,009 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-24 12:16:08,746 INFO sqlalchemy.engine.base.Engine INSERT INTO "ConEdDB" ("index", "Date", "TMAX", "TMIN", "IM_INCIDENT_KEY", "TOTAL_INCIDENT_DURATION", "ACTION_TAKEN1_DESC", "ACTION_TAKEN2_DESC", "ZIP_CODE", "BOROUGH_DESC", "Incident_Time", "Arrival_Date", "Arrival_Time") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-08-24 12:16:08,750 INFO sqlalchemy.engine.base.Engine ((0, '2013-01-01 00:00:00.000000', 40, 26, 55675645, 1108, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10455, 'Bronx', '11:30:10 PM', '01/01/2013', '11:34:39 PM'), (1, '2013-01-01 00:00:00.000000', 40, 26, 55675621, 461, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10027, 'Manhattan', '11:14:24 PM', '01/01/2013', '11:19:08 PM'), (2, '2013-01-01 00:00:00.000000', 40, 26, 55675611, 829, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11207, 'Brooklyn', '11:08:08 PM', '01/01/2013', '11:10:30 PM'), (3, '2013-01-01 00:00:00.000000', 40, 26, 55675547, 1025, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11373, 'Queens', '10:26:05 PM', '01/01/2013', '10:29:29 PM'), (4, '2013-01-01 00:00:00.000000', 40, 26, 55675480, 1054, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11360, 'Queens', '09:33:56 PM', '01/01/2013', '09:39:20 PM'), (5, '2013-01-01 00:00:00.000000', 40, 26, 55675481, 1515, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10314, 'Staten Island', '09:33:49 PM', '01/01/2013', '09:38:23 PM'), (6, '2013-01-01 00:00:00.000000', 40, 26, 55675429, 2707, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10019, 'Manhattan', '09:10:36 PM', '01/01/2013', '09:14:47 PM'), (7, '2013-01-01 00:00:00.000000', 40, 26, 55675384, 899, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11221, 'Brooklyn', '08:40:27 PM', '01/01/2013', '08:42:33 PM')  ... displaying 10 of 114523 total bound parameter sets ...  (114521, '2018-06-30 00:00:00.000000', 93, 72, 63471515, 1794, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10011, 'Manhattan', '01:51:36 AM', '06/30/2018', '01:57:10 AM'), (114522, '2018-06-30 00:00:00.000000', 93, 72, 63471300, 868, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10035, 'Manhattan', '01:04:51 AM', '06/30/2018', '01:09:36 AM'))
2019-08-24 12:16:09,224 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-24 12:16:09,269 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-08-24 12:16:09,270 INFO sqlalchemy.engine.base.Engine ()

In [73]:
year_data = final_df[final_df['Date'].dt.year == 2013]
year_data

,Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident_Time,Arrival_Date,Arrival_Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM
3,2013-01-01,40,26,55675547,1025,44 - Hazardous materials leak control & contai...,64 - Shut down system,11373,Queens,10:26:05 PM,01/01/2013,10:29:29 PM
4,2013-01-01,40,26,55675480,1054,44 - Hazardous materials leak control & contai...,64 - Shut down system,11360,Queens,09:33:56 PM,01/01/2013,09:39:20 PM
5,2013-01-01,40,26,55675481,1515,44 - Hazardous materials leak control & contai...,64 - Shut down system,10314,Staten Island,09:33:49 PM,01/01/2013,09:38:23 PM
6,2013-01-01,40,26,55675429,2707,44 - Hazardous materials leak control & contai...,64 - Shut down system,10019,Manhattan,09:10:36 PM,01/01/2013,09:14:47 PM
7,2013-01-01,40,26,55675384,899,44 - Hazardous materials leak control & contai...,64 - Shut down system,11221,Brooklyn,08:40:27 PM,01/01/2013,08:42:33 PM
8,2013-01-01,40,26,55675098,961,44 - Hazardous materials leak control & contai...,64 - Shut down system,10456,Bronx,06:50:03 PM,01/01/2013,06:54:08 PM
9,2013-01-01,40,26,55675057,1610,44 - Hazardous materials leak control & contai...,64 - Shut down system,10035,Manhattan,06:30:09 PM,01/01/2013,06:33:29 PM
10,2013-01-01,40,26,55675058,2049,44 - Hazardous materials leak control & contai...,64 - Shut down system,10012,Manhattan,06:29:45 PM,01/01/2013,06:33:20 PM
11,2013-01-01,40,26,55675031,724,44 - Hazardous materials leak control & contai...,64 - Shut down system,11229,Brooklyn,06:15:50 PM,01/01/2013,06:18:59 PM
12,2013-01-01,40,26,55674990,1189,44 - Hazardous materials leak control & contai...,64 - Shut down system,10026,Manhattan,06:00:38 PM,01/01/2013,06:05:39 PM
13,2013-01-01,40,26,55674969,1422,44 - Hazardous materials leak control & contai...,64 - Shut down system,10035,Manhattan,05:49:57 PM,01/01/2013,05:52:59 PM
14,2013-01-01,40,26,55674897,769,44 - Hazardous materials leak control & contai...,64 - Shut down system,10451,Bronx,05:19:23 PM,01/01/2013,05:22:50 PM
15,2013-01-01,40,26,55674791,677,44 - Hazardous materials leak control & contai...,64 - Shut down system,10451,Bronx,04:26:13 PM,01/01/2013,04:29:20 PM
16,2013-01-01,40,26,55674730,757,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,03:48:43 PM,01/01/2013,03:52:06 PM
17,2013-01-01,40,26,55674711,1485,44 - Hazardous materials leak control & contai...,64 - Shut down system,10025,Manhattan,03:35:30 PM,01/01/2013,03:40:04 PM
18,2013-01-01,40,26,55674698,1254,44 - Hazardous materials leak control & contai...,64 - Shut down system,11368,Queens,03:29:07 PM,01/01/2013,03:32:41 PM
19,2013-01-01,40,26,55674670,1602,44 - Hazardous materials leak control & contai...,64 - Shut down system,11231,Brooklyn,03:05:15 PM,01/01/2013,03:08:12 PM
20,2013-01-01,40,26,55674643,1099,44 - Hazardous materials leak control & contai...,64 - Shut down system,10467,Bronx,02:49:34 PM,01/01/2013,02:55:55 PM
21,2013-01-01,40,26,55674634,896,44 - Hazardous materials leak control & contai...,64 - Shut down system,10467,Bronx,02:46:45 PM,01/01/2013,02:52:32 PM
22,2013-01-01,40,26,55674617,660,44 - Hazardous materials leak control & contai...,64 - Shut down system,10467,Bronx,02:36:26 PM,01/01/2013,02:41:51 PM
23,2013-01-01,40,26,55674542,2663,44 - Hazardous materials leak control & contai...,64 - Shut down system,10458,Bronx,01:54:11 PM,01/01/2013,02:00:07 PM
24,2013-01-01,40,26,55674500,2987,44 - Hazardous materials leak control & contai...,64 - Shut down system,10016,Manhattan,01:23:13 PM,01/01/2013,01:27:02 PM
25,2013-01-01,40,26,55674496,802,44 - Hazardous materials leak control & contai...,64 - Shut down system,10470,Bronx,01:21:14 PM,01/01/2013,01:27:05 PM
26,2013-01-01,40,26,55674439,817,44 - Hazardous materials leak control & contai...,64 - Shut down system,10014,Manhattan,12:52:36 PM,01/01/2013,12:56:13 PM
27,2013-01-01,40,26,55674367,5384,44 - Hazardous materials leak control & contai...,64 - Shut down system,11434,Queens,12:02:42 PM,01/01/2013,12:07:14 PM
28,2013-01-01,40,26,55674360,577,44 - Hazardous materials leak control & contai...,64 - Shut down system,11231,Brooklyn,11:58:33 AM,01/01/2013,12:02:19 PM
29,2013-01-01,40,26,55674138,1652,44 - Hazardous materials leak control & contai...,64 - Shut down system,11234,Brooklyn,09:15:08 AM,01/01/2013,09:18:59 AM
...,...,...,...,...,...,...,...,...,...,...,...,...
13448,2013-12-31,32,21,56707291,1849,44 - Hazardous materials leak control & contai...,64 - Shut down system,10306,Staten Island,05:28:45 PM,12/31/2013,05:33:14 PM
13449,2013-12-31,32,21,56707260,877,44 - Hazardous materials leak control & contai...,64 - Shut down system,11233,Brooklyn,05:18:56 PM,12/31/2013,05:23:38 PM
13450,2013-12-31,32,21,56707253,1189,44 - Hazardous materials leak control & contai...,64 - Shut down system,11226,Brooklyn,05:16:36 PM,12/31/2013,05:21:57 PM
13451,2013-12-31,32,21,56707247,1247,64 - Shut down system,51 - Ventilate,10035,Manhattan,05:14:38 PM,12/31/2013,05:20:41 PM
13452,2013-12-31,32,21,56707239,952,44 - Hazardous materials leak control & contai...,64 - Shut down system,10466,Bronx,05:09:23 PM,12/31/2013,05:16:15 PM
13453,2013-12-31,32,21,56707228,2396,44 - Hazardous materials leak control & contai...,64 - Shut down system,11235,Brooklyn,05:01:56 PM,12/31/2013,05:07:19 PM
13454,2013-12-31,32,21,56707043,3481,44 - Hazardous materials leak control & contai...,64 - Shut down system,99999,Queens,03:30:05 PM,12/31/2013,03:34:01 PM
13455,2013-12-31,32,21,56707009,1795,44 - Hazardous materials leak control & contai...,64 - Shut down system,10301,Staten Island,03:15:02 PM,12/31/2013,03:18:38 PM
13456,2013-12-31,32,21,56706964,1147,44 - Hazardous materials leak control & contai...,64 - Shut down system,11204,Brooklyn,02:59:21 PM,12/31/2013,03:01:53 PM
13457,2013-12-31,32,21,56706871,665,44 - Hazardous materials leak control & contai...,64 - Shut down system,10472,Bronx,02:11:56 PM,12/31/2013,02:15:26 PM
13458,2013-12-31,32,21,56706858,727,44 - Hazardous materials leak control & contai...,64 - Shut down system,10304,Staten Island,02:10:30 PM,12/31/2013,02:16:31 PM
13459,2013-12-31,32,21,56706856,1040,44 - Hazardous materials leak control & contai...,64 - Shut down system,10305,Staten Island,02:09:54 PM,12/31/2013,02:15:11 PM
13460,2013-12-31,32,21,56706783,609,44 - Hazardous materials leak control & contai...,64 - Shut down system,11216,Brooklyn,01:33:32 PM,12/31/2013,01:37:11 PM
13461,2013-12-31,32,21,56706516,952,44 - Hazardous materials leak control & contai...,64 - Shut down system,11201,Brooklyn,11:46:36 AM,12/31/2013,11:49:35 AM
13462,2013-12-31,32,21,56706507,815,44 - Hazardous materials leak control & contai...,64 - Shut down system,10473,Bronx,11:41:39 AM,12/31/2013,11:45:32 AM
13463,2013-12-31,32,21,56706496,777,44 - Hazardous materials leak control & contai...,64 - Shut down system,11222,Brooklyn,11:36:38 AM,12/31/2013,11:43:04 AM
13464,2013-12-31,32,21,56706443,2303,44 - Hazardous materials leak control & contai...,64 - Shut down system,10128,Manhattan,11:11:25 AM,12/31/2013,11:16:47 AM
13465,2013-12-31,32,21,56706427,1164,44 - Hazardous materials leak control & contai...,64 - Shut down system,10024,Manhattan,11:04:15 AM,12/31/2013,11:09:31 AM
13466,2013-12-31,32,21,56706309,1269,44 - Hazardous materials leak control & contai...,64 - Shut down system,10002,Manhattan,09:48:14 AM,12/31/2013,09:50:51 AM
13467,2013-12-31,32,21,56706267,1194,44 - Hazardous materials leak control & contai...,64 - Shut down system,11411,Queens,09:20:22 AM,12/31/2013,09:24:56 AM
13468,2013-12-31,32,21,56706215,1095,44 - Hazardous materials leak control & contai...,64 - Shut down system,11233,Brooklyn,08:42:18 AM,12/31/2013,08:45:46 AM
13469,2013-12-31,32,21,56706062,638,44 - Hazardous materials leak control & contai...,64 - Shut down system,10473,Bronx,06:59:56 AM,12/31/2013,07:04:22 AM
13470,2013-12-31,32,21,56706019,1436,44 - Hazardous materials leak control & contai...,64 - Shut down system,10472,Bronx,06:37:10 AM,12/31/2013,06:42:47 AM
13471,2013-12-31,32,21,56705967,941,44 - Hazardous materials leak control & contai...,64 - Shut down system,10466,Bronx,05:37:07 AM,12/31/2013,05:43:38 AM
13472,2013-12-31,32,21,56705889,798,44 - Hazardous materials leak control & contai...,64 - Shut down system,10468,Bronx,03:44:19 AM,12/31/2013,03:47:35 AM
13473,2013-12-31,32,21,56705819,858,44 - Hazardous materials leak control & contai...,64 - Shut down system,11208,Brooklyn,02:21:25 AM,12/31/2013,02:25:47 AM
13474,2013-12-31,32,21,56705779,1011,44 - Hazardous materials leak control & contai...,64 - Shut down system,10453,Bronx,01:42:31 AM,12/31/2013,01:45:25 AM
13475,2013-12-31,32,21,56705690,1149,44 - Hazardous materials leak control & contai...,64 - Shut down system,10468,Bronx,01:02:44 AM,12/31/2013,01:07:24 AM
13476,2013-12-31,32,21,56705672,661,44 - Hazardous materials leak control & contai...,64 - Shut down system,11236,Brooklyn,12:49:56 AM,12/31/2013,12:56:12 AM
13477,2013-12-31,32,21,56705636,1412,44 - Hazardous materials leak control & contai...,64 - Shut down system,10468,Bronx,12:05:43 AM,12/31/2013,12:09:38 AM

In [74]:
year_data.Date.values.tolist()

[1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1356998400000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357084800000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357171200000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357257600000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357344000000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357430400000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357516800000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357603200000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357689600000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357776000000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357862400000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1357948800000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358035200000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358121600000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358208000000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358294400000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358380800000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358467200000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358553600000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358640000000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358726400000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358812800000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,
 1358899200000000000,

In [75]:
final_df.to_csv("final_leaks.csv")

In [76]:
year_2013 = year_data[year_data['Date'].dt.year == 2013]

In [77]:
grouped = pd.DataFrame(year_2013.groupby('ZIP_CODE').sum()['TMAX'])
grouped.rename(columns = {'TMAX': 'Total Leaks'}, inplace=True)
grouped.to_dict()

{'Total Leaks': {10001: 2376,
  10002: 11473,
  10003: 6140,
  10004: 651,
  10005: 38,
  10007: 992,
  10009: 10560,
  10010: 1993,
  10011: 3617,
  10012: 1668,
  10013: 3776,
  10014: 4310,
  10016: 3781,
  10017: 1566,
  10018: 1006,
  10019: 3612,
  10020: 69,
  10021: 5789,
  10022: 2521,
  10023: 3399,
  10024: 5977,
  10025: 8780,
  10026: 6365,
  10027: 12602,
  10028: 3029,
  10029: 15338,
  10030: 5702,
  10031: 7454,
  10032: 8142,
  10033: 3542,
  10034: 3835,
  10035: 9514,
  10036: 2562,
  10037: 3604,
  10038: 2588,
  10039: 5829,
  10040: 5320,
  10128: 4017,
  10280: 144,
  10301: 4702,
  10302: 1346,
  10303: 2380,
  10304: 4247,
  10305: 4409,
  10306: 5932,
  10307: 1019,
  10308: 1772,
  10309: 2062,
  10310: 2645,
  10312: 3985,
  10314: 5991,
  10451: 10677,
  10452: 6456,
  10453: 9817,
  10454: 9379,
  10455: 5100,
  10456: 16548,
  10457: 8623,
  10458: 8651,
  10459: 5314,
  10460: 7217,
  10461: 5586,
  10462: 6767,
  10463: 9437,
  10464: 819,
  10465: 6280,
  10466: 9031,
  10467: 14467,
  10468: 8278,
  10469: 10091,
  10470: 1608,
  10471: 1841,
  10472: 12380,
  10473: 11669,
  10474: 2142,
  10475: 9270,
  11004: 1162,
  11101: 7359,
  11102: 3909,
  11103: 4330,
  11104: 2434,
  11105: 3854,
  11106: 3512,
  11201: 6092,
  11203: 7406,
  11204: 3478,
  11205: 5614,
  11206: 13414,
  11207: 14719,
  11208: 10052,
  11209: 4433,
  11210: 4885,
  11211: 7960,
  11212: 19589,
  11213: 8043,
  11214: 3891,
  11215: 5436,
  11216: 8282,
  11217: 3479,
  11218: 3587,
  11219: 2549,
  11220: 2984,
  11221: 11883,
  11222: 2011,
  11223: 5533,
  11224: 7792,
  11225: 4225,
  11226: 8814,
  11228: 1839,
  11229: 6407,
  11230: 3904,
  11231: 7704,
  11232: 1524,
  11233: 13295,
  11234: 7110,
  11235: 6159,
  11236: 7966,
  11237: 4936,
  11238: 4956,
  11239: 1004,
  11251: 50,
  11354: 5122,
  11355: 3335,
  11356: 1293,
  11357: 2890,
  11358: 1968,
  11360: 1576,
  11361: 2426,
  11362: 2567,
  11363: 697,
  11364: 3664,
  11365: 4096,
  11366: 1036,
  11367: 4640,
  11368: 2466,
  11369: 1160,
  11370: 608,
  11372: 3025,
  11373: 2059,
  11374: 1922,
  11375: 3162,
  11377: 5124,
  11378: 1547,
  11379: 1101,
  11385: 4519,
  11411: 1534,
  11412: 2739,
  11413: 3006,
  11414: 1759,
  11415: 1156,
  11416: 1088,
  11417: 1028,
  11418: 2611,
  11419: 1100,
  11420: 1860,
  11421: 1487,
  11422: 1567,
  11423: 940,
  11426: 2644,
  11427: 2480,
  11428: 473,
  11429: 1176,
  11432: 4782,
  11433: 6714,
  11434: 4070,
  11435: 2815,
  11436: 1610,
  11691: 8072,
  11692: 1432,
  11693: 964,
  11694: 2012,
  11697: 1537,
  99999: 3646}}

In [78]:
month_data = year_data[year_data['Date'].dt.month == 1]
month_data = month_data[['Date', 'TMAX']]

In [79]:
month_data.groupby('Date')['TMAX'].max()
grouped_month = pd.DataFrame(month_data.groupby('Date')['TMAX'].max())
grouped_month.rename(columns = {'TMAX': 'Temp'}, inplace=True)
grouped_month.to_dict()

{'Temp': {Timestamp('2013-01-01 00:00:00'): 40,
  Timestamp('2013-01-02 00:00:00'): 33,
  Timestamp('2013-01-03 00:00:00'): 32,
  Timestamp('2013-01-04 00:00:00'): 37,
  Timestamp('2013-01-05 00:00:00'): 42,
  Timestamp('2013-01-06 00:00:00'): 46,
  Timestamp('2013-01-07 00:00:00'): 45,
  Timestamp('2013-01-08 00:00:00'): 48,
  Timestamp('2013-01-09 00:00:00'): 49,
  Timestamp('2013-01-10 00:00:00'): 47,
  Timestamp('2013-01-11 00:00:00'): 46,
  Timestamp('2013-01-12 00:00:00'): 47,
  Timestamp('2013-01-13 00:00:00'): 50,
  Timestamp('2013-01-14 00:00:00'): 56,
  Timestamp('2013-01-15 00:00:00'): 38,
  Timestamp('2013-01-16 00:00:00'): 37,
  Timestamp('2013-01-17 00:00:00'): 43,
  Timestamp('2013-01-18 00:00:00'): 35,
  Timestamp('2013-01-19 00:00:00'): 51,
  Timestamp('2013-01-20 00:00:00'): 53,
  Timestamp('2013-01-21 00:00:00'): 32,
  Timestamp('2013-01-22 00:00:00'): 27,
  Timestamp('2013-01-23 00:00:00'): 20,
  Timestamp('2013-01-24 00:00:00'): 22,
  Timestamp('2013-01-25 00:00:00'): 24,
  Timestamp('2013-01-26 00:00:00'): 27,
  Timestamp('2013-01-27 00:00:00'): 34,
  Timestamp('2013-01-28 00:00:00'): 36,
  Timestamp('2013-01-29 00:00:00'): 49,
  Timestamp('2013-01-30 00:00:00'): 59,
  Timestamp('2013-01-31 00:00:00'): 61}}

In [80]:
day_leak_count = month_data.groupby([month_data['Date'].dt.day]).count()

In [81]:
day_leak_count

      Date  TMAX
Date
1       35    35
2       46    46
3       44    44
4       33    33
5       53    53
6       42    42
7       55    55
8       40    40
9       35    35
10      40    40
11      50    50
12      34    34
13      33    33
14      48    48
15      43    43
16      40    40
17      40    40
18      30    30
19      45    45
20      30    30
21      40    40
22      35    35
23      43    43
24      60    60
25      51    51
26      30    30
27      40    40
28      39    39
29      38    38
30      48    48
31      27    27

In [82]:
day_leak_count.Date.values

array([35, 46, 44, 33, 53, 42, 55, 40, 35, 40, 50, 34, 33, 48, 43, 40, 40,
       30, 45, 30, 40, 35, 43, 60, 51, 30, 40, 39, 38, 48, 27])

In [83]:
day_temp_values = month_data.groupby([month_data['Date'].dt.day])['TMAX'].max()

In [84]:
day_temp_values.values

array([40, 33, 32, 37, 42, 46, 45, 48, 49, 47, 46, 47, 50, 56, 38, 37, 43,
       35, 51, 53, 32, 27, 20, 22, 24, 27, 34, 36, 49, 59, 61])

In [85]:
print(len(day_leak_count))

31

In [86]:
data = {
    "Day" : day_leak_count.index,
    "# of Leaks": day_leak_count.Date.values,
    "Dail Max Temp" : day_temp_values.values
}

In [87]:
data

{'Day': Int64Index([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
             18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
            dtype='int64', name='Date'),
 '# of Leaks': array([35, 46, 44, 33, 53, 42, 55, 40, 35, 40, 50, 34, 33, 48, 43, 40, 40,
        30, 45, 30, 40, 35, 43, 60, 51, 30, 40, 39, 38, 48, 27]),
 'Dail Max Temp': array([40, 33, 32, 37, 42, 46, 45, 48, 49, 47, 46, 47, 50, 56, 38, 37, 43,
        35, 51, 53, 32, 27, 20, 22, 24, 27, 34, 36, 49, 59, 61])}