In [1]:
#Import Pandas
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Read CSV
df = pd.read_csv('data.csv', parse_dates=True)

In [3]:
#Filter Columns
df = df[['IM_INCIDENT_KEY', 'INCIDENT_DATE_TIME', 'ARRIVAL_DATE_TIME', 'TOTAL_INCIDENT_DURATION', 'ACTION_TAKEN1_DESC', 'ACTION_TAKEN2_DESC', 'ZIP_CODE', 'BOROUGH_DESC']]

In [4]:
#Get All columns name
#df.columns

In [5]:
#Check memory Usage (6.1 MB)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119324 entries, 0 to 119323
Data columns (total 8 columns):
IM_INCIDENT_KEY            119324 non-null int64
INCIDENT_DATE_TIME         119324 non-null object
ARRIVAL_DATE_TIME          118636 non-null object
TOTAL_INCIDENT_DURATION    119324 non-null int64
ACTION_TAKEN1_DESC         119324 non-null object
ACTION_TAKEN2_DESC         115132 non-null object
ZIP_CODE                   119322 non-null float64
BOROUGH_DESC               119324 non-null object
dtypes: float64(1), int64(2), object(5)
memory usage: 7.3+ MB

In [6]:
#Reduce memory Usage (4.9 MB)
df['ACTION_TAKEN1_DESC'] = df['ACTION_TAKEN1_DESC'].astype('category')
df['ACTION_TAKEN2_DESC'] = df['ACTION_TAKEN2_DESC'].astype('category')
df['BOROUGH_DESC'] = df['BOROUGH_DESC'].astype('category')


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119324 entries, 0 to 119323
Data columns (total 8 columns):
IM_INCIDENT_KEY            119324 non-null int64
INCIDENT_DATE_TIME         119324 non-null object
ARRIVAL_DATE_TIME          118636 non-null object
TOTAL_INCIDENT_DURATION    119324 non-null int64
ACTION_TAKEN1_DESC         119324 non-null category
ACTION_TAKEN2_DESC         115132 non-null category
ZIP_CODE                   119322 non-null float64
BOROUGH_DESC               119324 non-null category
dtypes: category(3), float64(1), int64(2), object(2)
memory usage: 4.9+ MB

In [7]:
# Drop NA Valus
df = df.dropna()
df.head(3)

,IM_INCIDENT_KEY,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC
2,63476614,06/30/2018 11:22:51 PM,06/30/2018 11:27:18 PM,995,86 - Investigate,45 - Remove hazard,10472.0,2 - Bronx
3,63476562,06/30/2018 11:05:55 PM,06/30/2018 11:11:39 PM,671,44 - Hazardous materials leak control & contai...,64 - Shut down system,10452.0,2 - Bronx
4,63476510,06/30/2018 10:53:15 PM,06/30/2018 10:58:49 PM,1384,44 - Hazardous materials leak control & contai...,64 - Shut down system,10463.0,2 - Bronx

In [8]:
# Get Columns Types
df.dtypes

IM_INCIDENT_KEY               int64
INCIDENT_DATE_TIME           object
ARRIVAL_DATE_TIME            object
TOTAL_INCIDENT_DURATION       int64
ACTION_TAKEN1_DESC         category
ACTION_TAKEN2_DESC         category
ZIP_CODE                    float64
BOROUGH_DESC               category
dtype: object

In [9]:
# Split Date/Time and export to a separate dataframe
INCIDENT_DATE_TIME = df["INCIDENT_DATE_TIME"].str.split(" ", n = 1, expand = True) 
ARRIVAL_DATE_TIME = df["ARRIVAL_DATE_TIME"].str.split(" ", n = 1, expand = True)

In [10]:
#Delete column in the original DF with the date and time combined (we will merge the new df)
del df['INCIDENT_DATE_TIME']
del df['ARRIVAL_DATE_TIME']

In [11]:
#Reset Indexes (they now start at two)

#First DF
df.reset_index(inplace=True, drop=True)

#Second DF
INCIDENT_DATE_TIME.reset_index(inplace=True, drop=True)

#Third DF
ARRIVAL_DATE_TIME.reset_index(inplace=True, drop=True)

In [12]:
#Rename new DF columns names

#Incident Date/time
INCIDENT_DATE_TIME.rename(columns={0: 'Incident Date', 1: 'Incident Time'}, inplace=True)

#Arrival Date/Time
ARRIVAL_DATE_TIME.rename(columns={0: 'Arrival Date', 1: 'Arrival Time'}, inplace=True)

In [13]:
# Join the two DFs
df = df.join(INCIDENT_DATE_TIME, how='outer')
df = df.join(ARRIVAL_DATE_TIME, how='outer')

In [14]:
df.head(3)

,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Date,Incident Time,Arrival Date,Arrival Time
0,63476614,995,86 - Investigate,45 - Remove hazard,10472.0,2 - Bronx,06/30/2018,11:22:51 PM,06/30/2018,11:27:18 PM
1,63476562,671,44 - Hazardous materials leak control & contai...,64 - Shut down system,10452.0,2 - Bronx,06/30/2018,11:05:55 PM,06/30/2018,11:11:39 PM
2,63476510,1384,44 - Hazardous materials leak control & contai...,64 - Shut down system,10463.0,2 - Bronx,06/30/2018,10:53:15 PM,06/30/2018,10:58:49 PM

In [15]:
#Import weather data frame and parse dates
df_weather = pd.read_csv("nycweatherdata.csv", parse_dates=True)
df_weather.head(3)

       STATION    DATE  TMAX  TMIN
0  USW00094728  1/1/13    40    26
1  USW00094728  1/2/13    33    22
2  USW00094728  1/3/13    32    24

In [16]:
# Rename column name/ we need to match the two columns name in the weather and our original df to join on
df_weather.rename(columns={'DATE': 'Incident Date'}, inplace=True)
df_weather.head(3)

       STATION Incident Date  TMAX  TMIN
0  USW00094728        1/1/13    40    26
1  USW00094728        1/2/13    33    22
2  USW00094728        1/3/13    32    24

In [17]:
# Convert the dates columns to date_time object to join on
df['Incident Date'] = pd.to_datetime(df['Incident Date'])
df_weather['Incident Date'] = pd.to_datetime(df_weather['Incident Date'])

In [18]:
# Join weather and our DF
final_df = df_weather.merge(df, on='Incident Date')

In [19]:
# Delete Station column (we don't need it)
del final_df['STATION']

In [20]:
# verify join worked fine
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455.0,2 - Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027.0,1 - Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207.0,4 - Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [21]:
# Get rid of the .0 that is in the zip code column
final_df['ZIP_CODE'] = final_df['ZIP_CODE'].astype(int)

In [22]:
# Check zipcode formatting
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,2 - Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,1 - Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,4 - Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [23]:
#Remove numbers that are nex to the Bourough (Maps need only the name with no nums)
final_df['BOROUGH_DESC'] = final_df['BOROUGH_DESC'].map(lambda x: str(x)[4:])

In [24]:
final_df.head(3)

,Incident Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident Time,Arrival Date,Arrival Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM

In [26]:
final_df = final_df.rename(columns = {"Incident Date": "Date",
                                 "Arrival Date":"Arrival_Date",
                                 "Arrival Time": "Arrival_Time",
                                    "Incident Time":"Incident_Time"})

In [27]:
final_df.head()

,Date,TMAX,TMIN,IM_INCIDENT_KEY,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,ACTION_TAKEN2_DESC,ZIP_CODE,BOROUGH_DESC,Incident_Time,Arrival_Date,Arrival_Time
0,2013-01-01,40,26,55675645,1108,44 - Hazardous materials leak control & contai...,64 - Shut down system,10455,Bronx,11:30:10 PM,01/01/2013,11:34:39 PM
1,2013-01-01,40,26,55675621,461,44 - Hazardous materials leak control & contai...,64 - Shut down system,10027,Manhattan,11:14:24 PM,01/01/2013,11:19:08 PM
2,2013-01-01,40,26,55675611,829,44 - Hazardous materials leak control & contai...,64 - Shut down system,11207,Brooklyn,11:08:08 PM,01/01/2013,11:10:30 PM
3,2013-01-01,40,26,55675547,1025,44 - Hazardous materials leak control & contai...,64 - Shut down system,11373,Queens,10:26:05 PM,01/01/2013,10:29:29 PM
4,2013-01-01,40,26,55675480,1054,44 - Hazardous materials leak control & contai...,64 - Shut down system,11360,Queens,09:33:56 PM,01/01/2013,09:39:20 PM

In [28]:
engine = create_engine('sqlite:///coned.db', echo=True)

In [29]:
final_df.to_sql('ConEdDB', con=engine, if_exists='replace')

2019-08-19 21:42:26,047 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-08-19 21:42:26,048 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,049 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-08-19 21:42:26,050 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,050 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-19 21:42:26,051 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,052 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-19 21:42:26,053 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,055 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-08-19 21:42:26,055 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,056 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ConEdDB")
2019-08-19 21:42:26,057 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,059 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-19 21:42:26,059 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,060 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ConEdDB")
2019-08-19 21:42:26,061 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,062 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-19 21:42:26,062 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,065 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ConEdDB")
2019-08-19 21:42:26,066 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,067 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ConEdDB_index")
2019-08-19 21:42:26,067 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,069 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ConEdDB")
2019-08-19 21:42:26,069 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,070 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("ix_ConEdDB_index")
2019-08-19 21:42:26,071 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,072 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ConEdDB' AND type = 'table'
2019-08-19 21:42:26,073 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,076 INFO sqlalchemy.engine.base.Engine
DROP TABLE "ConEdDB"
2019-08-19 21:42:26,077 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,254 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-19 21:42:26,258 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "ConEdDB" (
	"index" BIGINT,
	"Date" DATETIME,
	"TMAX" BIGINT,
	"TMIN" BIGINT,
	"IM_INCIDENT_KEY" BIGINT,
	"TOTAL_INCIDENT_DURATION" BIGINT,
	"ACTION_TAKEN1_DESC" TEXT,
	"ACTION_TAKEN2_DESC" TEXT,
	"ZIP_CODE" BIGINT,
	"BOROUGH_DESC" TEXT,
	"Incident_Time" TEXT,
	"Arrival_Date" TEXT,
	"Arrival_Time" TEXT
)


2019-08-19 21:42:26,259 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,260 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-19 21:42:26,261 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_ConEdDB_index" ON "ConEdDB" ("index")
2019-08-19 21:42:26,261 INFO sqlalchemy.engine.base.Engine ()
2019-08-19 21:42:26,263 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-19 21:42:26,368 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-08-19 21:42:27,994 INFO sqlalchemy.engine.base.Engine INSERT INTO "ConEdDB" ("index", "Date", "TMAX", "TMIN", "IM_INCIDENT_KEY", "TOTAL_INCIDENT_DURATION", "ACTION_TAKEN1_DESC", "ACTION_TAKEN2_DESC", "ZIP_CODE", "BOROUGH_DESC", "Incident_Time", "Arrival_Date", "Arrival_Time") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-08-19 21:42:27,995 INFO sqlalchemy.engine.base.Engine ((0, '2013-01-01 00:00:00.000000', 40, 26, 55675645, 1108, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10455, 'Bronx', '11:30:10 PM', '01/01/2013', '11:34:39 PM'), (1, '2013-01-01 00:00:00.000000', 40, 26, 55675621, 461, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10027, 'Manhattan', '11:14:24 PM', '01/01/2013', '11:19:08 PM'), (2, '2013-01-01 00:00:00.000000', 40, 26, 55675611, 829, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11207, 'Brooklyn', '11:08:08 PM', '01/01/2013', '11:10:30 PM'), (3, '2013-01-01 00:00:00.000000', 40, 26, 55675547, 1025, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11373, 'Queens', '10:26:05 PM', '01/01/2013', '10:29:29 PM'), (4, '2013-01-01 00:00:00.000000', 40, 26, 55675480, 1054, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11360, 'Queens', '09:33:56 PM', '01/01/2013', '09:39:20 PM'), (5, '2013-01-01 00:00:00.000000', 40, 26, 55675481, 1515, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10314, 'Staten Island', '09:33:49 PM', '01/01/2013', '09:38:23 PM'), (6, '2013-01-01 00:00:00.000000', 40, 26, 55675429, 2707, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10019, 'Manhattan', '09:10:36 PM', '01/01/2013', '09:14:47 PM'), (7, '2013-01-01 00:00:00.000000', 40, 26, 55675384, 899, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 11221, 'Brooklyn', '08:40:27 PM', '01/01/2013', '08:42:33 PM')  ... displaying 10 of 114523 total bound parameter sets ...  (114521, '2018-06-30 00:00:00.000000', 93, 72, 63471515, 1794, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10011, 'Manhattan', '01:51:36 AM', '06/30/2018', '01:57:10 AM'), (114522, '2018-06-30 00:00:00.000000', 93, 72, 63471300, 868, '44 - Hazardous materials leak control & containment', '64 - Shut down system', 10035, 'Manhattan', '01:04:51 AM', '06/30/2018', '01:09:36 AM'))
2019-08-19 21:42:28,434 INFO sqlalchemy.engine.base.Engine COMMIT
2019-08-19 21:42:28,475 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-08-19 21:42:28,476 INFO sqlalchemy.engine.base.Engine ()