In [1]:
import os

import pandas as pd
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

import calendar

In [2]:
# Initilaize an instance
app = Flask(__name__, template_folder="build", static_url_path='/build')

# Database Setup
app.config['SECRET_KEY'] = 'Thisissupposedtobesecret!'
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/coned.sqlite"

In [3]:
# app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)

# reflect an existing database into a new model
Base = automap_base()

/anaconda3/envs/PythonData/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [4]:
    df = pd.read_csv("final_leaks.csv")

    ## Convert the Date column to correct datetime format
    df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')

    ## get the data for the full year where date = 2013
    year_data = df[df['Date'].dt.year == 2013]

    ## get data for leaks per zipcode for that given year
    year_zip_data = pd.DataFrame(year_data.groupby('ZIP_CODE').sum()['TMAX'])
    year_zip_data.rename(columns = {'TMAX': 'Total_Leaks'}, inplace=True)
    year_data_dict = year_zip_data.to_dict()

    # set variable for monthly data
    monthly_data = year_data[year_data['Date'].dt.month == 1]
    ## get monthly data of temperatures for given month
    ## test to see if it filters out by month. 1 = January
    ## monthly_temp_data = year_data[year_data['Date'].dt.month == 1]
    monthly_temp_data = monthly_data[['Date', 'TMAX']]
    monthly_temp_data.groupby('Date')['TMAX'].max()
    ## put grouped data into its on DF
    grouped_month_temp_data = pd.DataFrame(monthly_temp_data.groupby('Date')['TMAX'].max())
    ## rename columns, then reset eindex
    grouped_month_temp_data.rename(columns = {'TMAX': 'Temp'}, inplace=True)
    grouped_month_temp_data.reset_index(level=0, inplace=True)
    ## needed to change date to string because jsonify does not support datetime values
    grouped_month_temp_data['Date'] = grouped_month_temp_data['Date'].astype(str)
    ## made the keys for the days of the month start at 1 instead of 0
    grouped_month_temp_data.index = np.arange(1,len(grouped_month_temp_data)+1)
    ## converted DF to dictionary 
    month_data_dict = grouped_month_temp_data.to_dict()
    ## Accessed the data
    final_month_dict = month_data_dict['Temp']

    ## get monthly data of leak counts per day for given month
    monthly_leaks = pd.DataFrame(monthly_data.groupby('Date')['TMAX'].count())
    monthly_leaks.rename(columns = {'TMAX': 'Number_of_Leaks'}, inplace=True)
    monthly_leaks.reset_index(level=0, inplace=True)
    monthly_leaks['Date'] = monthly_leaks['Date'].astype(str)
    monthly_leaks.index = np.arange(1,len(monthly_leaks)+1)
    monthly_leaks_dict = monthly_leaks.to_dict()
    final_monthly_leaks_dict = monthly_leaks_dict['Number_of_Leaks']


    # Please the dictionaries from above into final dictionary to respond to API request
    final_dict = {
        "ZipData:" : year_data_dict,
        "TempData" : final_month_dict,
        "MonthlyLeaks" : final_monthly_leaks_dict
    }

In [5]:
grouped_month_temp_data

          Date  Temp
1   2013-01-01    40
2   2013-01-02    33
3   2013-01-03    32
4   2013-01-04    37
5   2013-01-05    42
6   2013-01-06    46
7   2013-01-07    45
8   2013-01-08    48
9   2013-01-09    49
10  2013-01-10    47
11  2013-01-11    46
12  2013-01-12    47
13  2013-01-13    50
14  2013-01-14    56
15  2013-01-15    38
16  2013-01-16    37
17  2013-01-17    43
18  2013-01-18    35
19  2013-01-19    51
20  2013-01-20    53
21  2013-01-21    32
22  2013-01-22    27
23  2013-01-23    20
24  2013-01-24    22
25  2013-01-25    24
26  2013-01-26    27
27  2013-01-27    34
28  2013-01-28    36
29  2013-01-29    49
30  2013-01-30    59
31  2013-01-31    61

In [6]:
leaks_dict = {}
for i in range(6):
    wh_year = 2013+i
    year_data = df[df['Date'].dt.year == wh_year]
    
    ## get data for leaks per zipcode for that given year
    year_zip_data = pd.DataFrame(year_data.groupby('ZIP_CODE').sum()['TMAX'])
    year_zip_data.rename(columns = {'TMAX': 'Total_Leaks'}, inplace=True)
#     print(i)
#     print(year_zip_data.head())
    year_zip_data.reset_index(inplace=True)
    json = year_zip_data.to_json(orient='records')
    leaks_dict[wh_year] = json

In [7]:
year_data = df[df['Date'].dt.year == wh_year]
year_zip_data = pd.DataFrame(year_data.groupby('ZIP_CODE').sum()['TMAX'])
year_zip_data.rename(columns = {'TMAX': 'Total_Leaks'}, inplace=True)
#     print(i)
#     print(year_zip_data.head())
leaks_dict[wh_year] = year_zip_data

year_zip_data.reset_index()

     ZIP_CODE  Total_Leaks
0       10001         1916
1       10002         9651
2       10003         4693
3       10004          195
4       10005          510
5       10006          348
6       10007         1549
7       10009         9165
8       10010         2014
9       10011         6129
10      10012         4714
11      10013         1992
12      10014         3644
13      10016         2462
14      10017          704
15      10018          958
16      10019         4775
17      10020           78
18      10021         6311
19      10022         1738
20      10023         3441
21      10024         5622
22      10025         7860
23      10026         6257
24      10027         9060
25      10028         2735
26      10029        13343
27      10030         4507
28      10031         6181
29      10032         6299
..        ...          ...
143     11379          519
144     11385         3204
145     11411          950
146     11412         1389
147     11413         1805
148     11414         1596
149     11415          359
150     11416          523
151     11417          685
152     11418         1239
153     11419         1178
154     11420         1934
155     11421         1320
156     11422         1615
157     11423         1165
158     11426         1771
159     11427         1101
160     11428          178
161     11429          994
162     11432         2352
163     11433         3217
164     11434         2947
165     11435          889
166     11436         1085
167     11691         3762
168     11692         1174
169     11693          912
170     11694          735
171     11697          430
172     99999         2991

[173 rows x 2 columns]

In [ ]:
leaks_dict[2014]

In [ ]:
df

In [8]:
months = pd.DataFrame(df['Date'].dt.month)
months.rename(columns = {"Date": 'Month'}, inplace=True)

In [9]:
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

In [ ]:
df

In [10]:
df['Month'] = df['Month'].apply(lambda x: calendar.month_abbr[x])
grouped_month_day_df  = df.groupby(['Year','Month', 'Date'], sort=False).count()['TMAX']

In [11]:
grouped_month_day_df = pd.DataFrame(grouped_month_day_df)
grouped_month_day_df.head()

                       TMAX
Year Month Date
2013 Jan   2013-01-01    35
           2013-01-02    46
           2013-01-03    44
           2013-01-04    33
           2013-01-05    53

In [13]:
grouped_month_day_indexed_df = grouped_month_day_df.reset_index()
grouped_month_day_indexed_df['Date'] = grouped_month_day_indexed_df['Date'].astype(str)
grouped_month_day_indexed_df.head()

   Year Month        Date  TMAX
0  2013   Jan  2013-01-01    35
1  2013   Jan  2013-01-02    46
2  2013   Jan  2013-01-03    44
3  2013   Jan  2013-01-04    33
4  2013   Jan  2013-01-05    53

In [15]:
response = {}
for row in grouped_month_day_indexed_df.values:
    
    year = row[0]
    month = row[1]
    date = row[2]
    tmax = row[3]
    
    
    if year not in response:
        response[year] = {}
    else:
        if month not in response[year]:
            response[year][month] = {}
        else:
            if date not in response[year][month]:
                response[year][month][date] = tmax
            else:
                pass

response

{2013: {'Jan': {'2013-01-03': 44,
   '2013-01-04': 33,
   '2013-01-05': 53,
   '2013-01-06': 42,
   '2013-01-07': 55,
   '2013-01-08': 40,
   '2013-01-09': 35,
   '2013-01-10': 40,
   '2013-01-11': 50,
   '2013-01-12': 34,
   '2013-01-13': 33,
   '2013-01-14': 48,
   '2013-01-15': 43,
   '2013-01-16': 40,
   '2013-01-17': 40,
   '2013-01-18': 30,
   '2013-01-19': 45,
   '2013-01-20': 30,
   '2013-01-21': 40,
   '2013-01-22': 35,
   '2013-01-23': 43,
   '2013-01-24': 60,
   '2013-01-25': 51,
   '2013-01-26': 30,
   '2013-01-27': 40,
   '2013-01-28': 39,
   '2013-01-29': 38,
   '2013-01-30': 48,
   '2013-01-31': 27},
  'Feb': {'2013-02-02': 57,
   '2013-02-03': 45,
   '2013-02-04': 45,
   '2013-02-05': 40,
   '2013-02-06': 43,
   '2013-02-07': 41,
   '2013-02-08': 41,
   '2013-02-09': 46,
   '2013-02-10': 41,
   '2013-02-11': 47,
   '2013-02-12': 44,
   '2013-02-13': 59,
   '2013-02-14': 41,
   '2013-02-15': 42,
   '2013-02-16': 37,
   '2013-02-17': 28,
   '2013-02-18': 52,
   '2013-02-19': 35,
   '2013-02-20': 45,
   '2013-02-21': 34,
   '2013-02-22': 52,
   '2013-02-23': 42,
   '2013-02-24': 34,
   '2013-02-25': 50,
   '2013-02-26': 32,
   '2013-02-27': 39,
   '2013-02-28': 35},
  'Mar': {'2013-03-02': 38,
   '2013-03-03': 31,
   '2013-03-04': 40,
   '2013-03-05': 37,
   '2013-03-06': 29,
   '2013-03-07': 37,
   '2013-03-08': 36,
   '2013-03-09': 34,
   '2013-03-10': 44,
   '2013-03-11': 46,
   '2013-03-12': 32,
   '2013-03-13': 43,
   '2013-03-14': 28,
   '2013-03-15': 44,
   '2013-03-16': 47,
   '2013-03-17': 37,
   '2013-03-18': 27,
   '2013-03-19': 42,
   '2013-03-20': 40,
   '2013-03-21': 36,
   '2013-03-22': 30,
   '2013-03-23': 36,
   '2013-03-24': 35,
   '2013-03-25': 41,
   '2013-03-26': 30,
   '2013-03-27': 38,
   '2013-03-28': 27,
   '2013-03-29': 31,
   '2013-03-30': 43,
   '2013-03-31': 30},
  'Apr': {'2013-04-02': 49,
   '2013-04-03': 35,
   '2013-04-04': 34,
   '2013-04-05': 30,
   '2013-04-06': 33,
   '2013-04-07': 25,
   '2013-04-08': 38,
   '2013-04-09': 39,
   '2013-04-10': 34,
   '2013-04-11': 32,
   '2013-04-12': 30,
   '2013-04-13': 16,
   '2013-04-14': 28,
   '2013-04-15': 44,
   '2013-04-16': 32,
   '2013-04-17': 32,
   '2013-04-18': 31,
   '2013-04-19': 46,
   '2013-04-20': 34,
   '2013-04-21': 36,
   '2013-04-22': 42,
   '2013-04-23': 33,
   '2013-04-24': 33,
   '2013-04-25': 32,
   '2013-04-26': 34,
   '2013-04-27': 39,
   '2013-04-28': 29,
   '2013-04-29': 26,
   '2013-04-30': 38},
  'May': {'2013-05-02': 33,
   '2013-05-03': 34,
   '2013-05-04': 29,
   '2013-05-05': 34,
   '2013-05-06': 45,
   '2013-05-07': 31,
   '2013-05-08': 54,
   '2013-05-09': 35,
   '2013-05-10': 16,
   '2013-05-11': 30,
   '2013-05-12': 22,
   '2013-05-13': 34,
   '2013-05-14': 36,
   '2013-05-15': 35,
   '2013-05-16': 34,
   '2013-05-17': 39,
   '2013-05-18': 36,
   '2013-05-19': 25,
   '2013-05-20': 33,
   '2013-05-21': 31,
   '2013-05-22': 31,
   '2013-05-23': 34,
   '2013-05-24': 39,
   '2013-05-25': 45,
   '2013-05-26': 29,
   '2013-05-27': 25,
   '2013-05-28': 35,
   '2013-05-29': 35,
   '2013-05-30': 43,
   '2013-05-31': 31},
  'Jun': {'2013-06-02': 23,
   '2013-06-03': 36,
   '2013-06-04': 52,
   '2013-06-05': 33,
   '2013-06-06': 39,
   '2013-06-07': 33,
   '2013-06-08': 43,
   '2013-06-09': 41,
   '2013-06-10': 41,
   '2013-06-11': 27,
   '2013-06-12': 36,
   '2013-06-13': 30,
   '2013-06-14': 35,
   '2013-06-15': 35,
   '2013-06-16': 33,
   '2013-06-17': 37,
   '2013-06-18': 17,
   '2013-06-19': 32,
   '2013-06-20': 28,
   '2013-06-21': 33,
   '2013-06-22': 24,
   '2013-06-23': 20,
   '2013-06-24': 47,
   '2013-06-25': 35,
   '2013-06-26': 26,
   '2013-06-27': 13,
   '2013-06-28': 28,
   '2013-06-29': 28,
   '2013-06-30': 26},
  'Jul': {'2013-07-02': 34,
   '2013-07-03': 34,
   '2013-07-04': 40,
   '2013-07-05': 43,
   '2013-07-06': 38,
   '2013-07-07': 34,
   '2013-07-08': 21,
   '2013-07-09': 27,
   '2013-07-10': 33,
   '2013-07-11': 26,
   '2013-07-12': 27,
   '2013-07-13': 51,
   '2013-07-14': 41,
   '2013-07-15': 50,
   '2013-07-16': 38,
   '2013-07-17': 31,
   '2013-07-18': 35,
   '2013-07-19': 29,
   '2013-07-20': 33,
   '2013-07-21': 41,
   '2013-07-22': 31,
   '2013-07-23': 29,
   '2013-07-24': 30,
   '2013-07-25': 29,
   '2013-07-26': 39,
   '2013-07-27': 27,
   '2013-07-28': 34,
   '2013-07-29': 31,
   '2013-07-30': 31,
   '2013-07-31': 23},
  'Aug': {'2013-08-02': 31,
   '2013-08-03': 39,
   '2013-08-04': 35,
   '2013-08-05': 26,
   '2013-08-06': 35,
   '2013-08-07': 23,
   '2013-08-08': 39,
   '2013-08-09': 56,
   '2013-08-10': 39,
   '2013-08-11': 40,
   '2013-08-12': 25,
   '2013-08-13': 35,
   '2013-08-14': 33,
   '2013-08-15': 41,
   '2013-08-16': 25,
   '2013-08-17': 24,
   '2013-08-18': 41,
   '2013-08-19': 35,
   '2013-08-20': 37,
   '2013-08-21': 29,
   '2013-08-22': 34,
   '2013-08-23': 30,
   '2013-08-24': 33,
   '2013-08-25': 37,
   '2013-08-26': 31,
   '2013-08-27': 41,
   '2013-08-28': 26,
   '2013-08-29': 41,
   '2013-08-30': 24,
   '2013-08-31': 34},
  'Sep': {'2013-09-02': 37,
   '2013-09-03': 38,
   '2013-09-04': 46,
   '2013-09-05': 42,
   '2013-09-06': 36,
   '2013-09-07': 35,
   '2013-09-08': 29,
   '2013-09-09': 31,
   '2013-09-10': 43,
   '2013-09-11': 35,
   '2013-09-12': 13,
   '2013-09-13': 24,
   '2013-09-14': 28,
   '2013-09-15': 48,
   '2013-09-16': 43,
   '2013-09-17': 45,
   '2013-09-18': 29,
   '2013-09-19': 37,
   '2013-09-20': 33,
   '2013-09-21': 33,
   '2013-09-22': 37,
   '2013-09-23': 38,
   '2013-09-24': 34,
   '2013-09-25': 57,
   '2013-09-26': 39,
   '2013-09-27': 44,
   '2013-09-28': 33,
   '2013-09-29': 22,
   '2013-09-30': 28},
  'Oct': {'2013-10-02': 50,
   '2013-10-03': 32,
   '2013-10-04': 30,
   '2013-10-05': 33,
   '2013-10-06': 29,
   '2013-10-07': 30,
   '2013-10-08': 50,
   '2013-10-09': 34,
   '2013-10-10': 32,
   '2013-10-11': 36,
   '2013-10-12': 34,
   '2013-10-13': 28,
   '2013-10-14': 40,
   '2013-10-15': 35,
   '2013-10-16': 41,
   '2013-10-17': 24,
   '2013-10-18': 22,
   '2013-10-19': 32,
   '2013-10-20': 34,
   '2013-10-21': 33,
   '2013-10-22': 41,
   '2013-10-23': 42,
   '2013-10-24': 42,
   '2013-10-25': 40,
   '2013-10-26': 30,
   '2013-10-27': 47,
   '2013-10-28': 55,
   '2013-10-29': 46,
   '2013-10-30': 35,
   '2013-10-31': 35},
  'Nov': {'2013-11-02': 30,
   '2013-11-03': 29,
   '2013-11-04': 38,
   '2013-11-05': 56,
   '2013-11-06': 38,
   '2013-11-07': 30,
   '2013-11-08': 39,
   '2013-11-09': 39,
   '2013-11-10': 36,
   '2013-11-11': 47,
   '2013-11-12': 29,
   '2013-11-13': 37,
   '2013-11-14': 31,
   '2013-11-15': 48,
   '2013-11-16': 40,
   '2013-11-17': 34,
   '2013-11-18': 33,
   '2013-11-19': 48,
   '2013-11-20': 46,
   '2013-11-21': 41,
   '2013-11-22': 42,
   '2013-11-23': 49,
   '2013-11-24': 31,
   '2013-11-25': 50,
   '2013-11-26': 37,
   '2013-11-27': 50,
   '2013-11-28': 51,
   '2013-11-29': 40,
   '2013-11-30': 53},
  'Dec': {'2013-12-02': 65,
   '2013-12-03': 59,
   '2013-12-04': 63,
   '2013-12-05': 41,
   '2013-12-06': 43,
   '2013-12-07': 41,
   '2013-12-08': 30,
   '2013-12-09': 36,
   '2013-12-10': 30,
   '2013-12-11': 43,
   '2013-12-12': 43,
   '2013-12-13': 45,
   '2013-12-14': 36,
   '2013-12-15': 38,
   '2013-12-16': 54,
   '2013-12-17': 51,
   '2013-12-18': 35,
   '2013-12-19': 41,
   '2013-12-20': 51,
   '2013-12-21': 51,
   '2013-12-22': 51,
   '2013-12-23': 49,
   '2013-12-24': 36,
   '2013-12-25': 37,
   '2013-12-26': 43,
   '2013-12-27': 33,
   '2013-12-28': 43,
   '2013-12-29': 37,
   '2013-12-30': 37,
   '2013-12-31': 40}},
 2014: {'Jan': {'2014-01-03': 40,
   '2014-01-04': 55,
   '2014-01-05': 49,
   '2014-01-06': 40,
   '2014-01-07': 46,
   '2014-01-08': 38,
   '2014-01-09': 62,
   '2014-01-10': 56,
   '2014-01-11': 46,
   '2014-01-12': 37,
   '2014-01-13': 54,
   '2014-01-14': 48,
   '2014-01-15': 50,
   '2014-01-16': 35,
   '2014-01-17': 21,
   '2014-01-18': 34,
   '2014-01-19': 31,
   '2014-01-20': 60,
   '2014-01-21': 32,
   '2014-01-22': 31,
   '2014-01-23': 39,
   '2014-01-24': 53,
   '2014-01-25': 45,
   '2014-01-26': 45,
   '2014-01-27': 49,
   '2014-01-28': 42,
   '2014-01-29': 44,
   '2014-01-30': 86,
   '2014-01-31': 57},
  'Feb': {'2014-02-02': 51,
   '2014-02-03': 40,
   '2014-02-04': 53,
   '2014-02-05': 68,
   '2014-02-06': 48,
   '2014-02-07': 39,
   '2014-02-08': 39,
   '2014-02-09': 33,
   '2014-02-10': 41,
   '2014-02-11': 44,
   '2014-02-12': 57,
   '2014-02-13': 36,
   '2014-02-14': 35,
   '2014-02-15': 47,
   '2014-02-16': 28,
   '2014-02-17': 73,
   '2014-02-18': 39,
   '2014-02-19': 51,
   '2014-02-20': 56,
   '2014-02-21': 61,
   '2014-02-22': 50,
   '2014-02-23': 62,
   '2014-02-24': 54,
   '2014-02-25': 48,
   '2014-02-26': 47,
   '2014-02-27': 41,
   '2014-02-28': 53},
  'Mar': {'2014-03-02': 40,
   '2014-03-03': 41,
   '2014-03-04': 50,
   '2014-03-05': 39,
   '2014-03-06': 51,
   '2014-03-07': 42,
   '2014-03-08': 42,
   '2014-03-09': 38,
   '2014-03-10': 58,
   '2014-03-11': 49,
   '2014-03-12': 88,
   '2014-03-13': 104,
   '2014-03-14': 132,
   '2014-03-15': 117,
   '2014-03-16': 83,
   '2014-03-17': 120,
   '2014-03-18': 112,
   '2014-03-19': 84,
   '2014-03-20': 114,
   '2014-03-21': 93,
   '2014-03-22': 89,
   '2014-03-23': 72,
   '2014-03-24': 100,
   '2014-03-25': 100,
   '2014-03-26': 77,
   '2014-03-27': 78,
   '2014-03-28': 82,
   '2014-03-29': 64,
   '2014-03-30': 66,
   '2014-03-31': 88},
  'Apr': {'2014-04-02': 131,
   '2014-04-03': 83,
   '2014-04-04': 69,
   '2014-04-05': 63,
   '2014-04-06': 72,
   '2014-04-07': 57,
   '2014-04-08': 61,
   '2014-04-09': 80,
   '2014-04-10': 69,
   '2014-04-11': 73,
   '2014-04-12': 83,
   '2014-04-13': 62,
   '2014-04-14': 63,
   '2014-04-15': 56,
   '2014-04-16': 49,
   '2014-04-17': 58,
   '2014-04-18': 63,
   '2014-04-19': 53,
   '2014-04-20': 60,
   '2014-04-21': 70,
   '2014-04-22': 70,
   '2014-04-23': 56,
   '2014-04-24': 64,
   '2014-04-25': 75,
   '2014-04-26': 57,
   '2014-04-27': 44,
   '2014-04-28': 72,
   '2014-04-29': 51,
   '2014-04-30': 60},
  'May': {'2014-05-02': 67,
   '2014-05-03': 66,
   '2014-05-04': 51,
   '2014-05-05': 44,
   '2014-05-06': 57,
   '2014-05-07': 59,
   '2014-05-08': 69,
   '2014-05-09': 58,
   '2014-05-10': 52,
   '2014-05-11': 45,
   '2014-05-12': 46,
   '2014-05-13': 52,
   '2014-05-14': 67,
   '2014-05-15': 65,
   '2014-05-16': 55,
   '2014-05-17': 62,
   '2014-05-18': 49,
   '2014-05-19': 75,
   '2014-05-20': 61,
   '2014-05-21': 52,
   '2014-05-22': 54,
   '2014-05-23': 46,
   '2014-05-24': 48,
   '2014-05-25': 56,
   '2014-05-26': 37,
   '2014-05-27': 57,
   '2014-05-28': 37,
   '2014-05-29': 59,
   '2014-05-30': 63,
   '2014-05-31': 41},
  'Jun': {'2014-06-02': 64,
   '2014-06-03': 65,
   '2014-06-04': 48,
   '2014-06-05': 50,
   '2014-06-06': 48,
   '2014-06-07': 40,
   '2014-06-08': 40,
   '2014-06-09': 47,
   '2014-06-10': 37,
   '2014-06-11': 51,
   '2014-06-12': 60,
   '2014-06-13': 68,
   '2014-06-14': 60,
   '2014-06-15': 53,
   '2014-06-16': 48,
   '2014-06-17': 48,
   '2014-06-18': 48,
   '2014-06-19': 55,
   '2014-06-20': 61,
   '2014-06-21': 66,
   '2014-06-22': 54,
   '2014-06-23': 56,
   '2014-06-24': 47,
   '2014-06-25': 45,
   '2014-06-26': 58,
   '2014-06-27': 51,
   '2014-06-28': 44,
   '2014-06-29': 44,
   '2014-06-30': 45},
  'Jul': {'2014-07-02': 46,
   '2014-07-03': 57,
   '2014-07-04': 47,
   '2014-07-05': 61,
   '2014-07-06': 39,
   '2014-07-07': 40,
   '2014-07-08': 42,
   '2014-07-09': 48,
   '2014-07-10': 47,
   '2014-07-11': 45,
   '2014-07-12': 39,
   '2014-07-13': 37,
   '2014-07-14': 62,
   '2014-07-15': 55,
   '2014-07-16': 32,
   '2014-07-17': 43,
   '2014-07-18': 49,
   '2014-07-19': 42,
   '2014-07-20': 34,
   '2014-07-21': 61,
   '2014-07-22': 54,
   '2014-07-23': 38,
   '2014-07-24': 51,
   '2014-07-25': 42,
   '2014-07-26': 33,
   '2014-07-27': 45,
   '2014-07-28': 59,
   '2014-07-29': 44,
   '2014-07-30': 45,
   '2014-07-31': 53},
  'Aug': {'2014-08-02': 45,
   '2014-08-03': 49,
   '2014-08-04': 36,
   '2014-08-05': 39,
   '2014-08-06': 49,
   '2014-08-07': 54,
   '2014-08-08': 39,
   '2014-08-09': 54,
   '2014-08-10': 61,
   '2014-08-11': 32,
   '2014-08-12': 49,
   '2014-08-13': 51,
   '2014-08-14': 59,
   '2014-08-15': 51,
   '2014-08-16': 47,
   '2014-08-17': 45,
   '2014-08-18': 75,
   '2014-08-19': 46,
   '2014-08-20': 42,
   '2014-08-21': 39,
   '2014-08-22': 62,
   '2014-08-23': 61,
   '2014-08-24': 47,
   '2014-08-25': 68,
   '2014-08-26': 50,
   '2014-08-27': 51,
   '2014-08-28': 54,
   '2014-08-29': 55,
   '2014-08-30': 54,
   '2014-08-31': 58},
  'Sep': {'2014-09-02': 48,
   '2014-09-03': 51,
   '2014-09-04': 29,
   '2014-09-05': 60,
   '2014-09-06': 52,
   '2014-09-07': 43,
   '2014-09-08': 41,
   '2014-09-09': 43,
   '2014-09-10': 50,
   '2014-09-11': 53,
   '2014-09-12': 57,
   '2014-09-13': 41,
   '2014-09-14': 45,
   '2014-09-15': 56,
   '2014-09-16': 50,
   '2014-09-17': 56,
   '2014-09-18': 53,
   '2014-09-19': 54,
   '2014-09-20': 45,
   '2014-09-21': 64,
   '2014-09-22': 49,
   '2014-09-23': 53,
   '2014-09-24': 53,
   '2014-09-25': 41,
   '2014-09-26': 45,
   '2014-09-27': 55,
   '2014-09-28': 37,
   '2014-09-29': 64,
   '2014-09-30': 58},
  'Oct': {'2014-10-02': 54,
   '2014-10-03': 48,
   '2014-10-04': 64,
   '2014-10-05': 85,
   '2014-10-06': 61,
   '2014-10-07': 59,
   '2014-10-08': 59,
   '2014-10-09': 58,
   '2014-10-10': 59,
   '2014-10-11': 56,
   '2014-10-12': 46,
   '2014-10-13': 60,
   '2014-10-14': 57,
   '2014-10-15': 57,
   '2014-10-16': 61,
   '2014-10-17': 56,
   '2014-10-18': 69,
   '2014-10-19': 53,
   '2014-10-20': 96,
   '2014-10-21': 43,
   '2014-10-22': 56,
   '2014-10-23': 54,
   '2014-10-24': 74,
   '2014-10-25': 63,
   '2014-10-26': 48,
   '2014-10-27': 61,
   '2014-10-28': 70,
   '2014-10-29': 57,
   '2014-10-30': 56,
   '2014-10-31': 65},
  'Nov': {'2014-11-02': 42,
   '2014-11-03': 67,
   '2014-11-04': 64,
   '2014-11-05': 67,
   '2014-11-06': 55,
   '2014-11-07': 46,
   '2014-11-08': 57,
   '2014-11-09': 66,
   '2014-11-10': 65,
   '2014-11-11': 66,
   '2014-11-12': 66,
   '2014-11-13': 65,
   '2014-11-14': 49,
   '2014-11-15': 69,
   '2014-11-16': 50,
   '2014-11-17': 51,
   '2014-11-18': 56,
   '2014-11-19': 48,
   '2014-11-20': 73,
   '2014-11-21': 71,
   '2014-11-22': 73,
   '2014-11-23': 60,
   '2014-11-24': 52,
   '2014-11-25': 58,
   '2014-11-26': 45,
   '2014-11-27': 60,
   '2014-11-28': 57,
   '2014-11-29': 67,
   '2014-11-30': 57},
  'Dec': {'2014-12-02': 58,
   '2014-12-03': 63,
   '2014-12-04': 69,
   '2014-12-05': 57,
   '2014-12-06': 71,
   '2014-12-07': 57,
   '2014-12-08': 62,
   '2014-12-09': 51,
   '2014-12-10': 60,
   '2014-12-11': 52,
   '2014-12-12': 74,
   '2014-12-13': 66,
   '2014-12-14': 53,
   '2014-12-15': 71,
   '2014-12-16': 57,
   '2014-12-17': 57,
   '2014-12-18': 52,
   '2014-12-19': 46,
   '2014-12-20': 58,
   '2014-12-21': 50,
   '2014-12-22': 62,
   '2014-12-23': 42,
   '2014-12-24': 51,
   '2014-12-25': 37,
   '2014-12-26': 56,
   '2014-12-27': 63,
   '2014-12-28': 46,
   '2014-12-29': 52,
   '2014-12-30': 53,
   '2014-12-31': 48}},
 2015: {'Jan': {'2015-01-03': 56,
   '2015-01-04': 41,
   '2015-01-05': 74,
   '2015-01-06': 43,
   '2015-01-07': 42,
   '2015-01-08': 66,
   '2015-01-09': 58,
   '2015-01-10': 52,
   '2015-01-11': 57,
   '2015-01-12': 81,
   '2015-01-13': 63,
   '2015-01-14': 61,
   '2015-01-15': 86,
   '2015-01-16': 63,
   '2015-01-17': 67,
   '2015-01-18': 63,
   '2015-01-19': 81,
   '2015-01-20': 63,
   '2015-01-21': 76,
   '2015-01-22': 75,
   '2015-01-23': 57,
   '2015-01-24': 68,
   '2015-01-25': 50,
   '2015-01-26': 44,
   '2015-01-27': 43,
   '2015-01-28': 50,
   '2015-01-29': 75,
   '2015-01-30': 47,
   '2015-01-31': 56},
  'Feb': {'2015-02-02': 62,
   '2015-02-03': 56,
   '2015-02-04': 82,
   '2015-02-05': 59,
   '2015-02-06': 53,
   '2015-02-07': 70,
   '2015-02-08': 68,
   '2015-02-09': 58,
   '2015-02-10': 56,
   '2015-02-11': 73,
   '2015-02-12': 67,
   '2015-02-13': 54,
   '2015-02-14': 84,
   '2015-02-15': 42,
   '2015-02-16': 73,
   '2015-02-17': 107,
   '2015-02-18': 69,
   '2015-02-19': 50,
   '2015-02-20': 61,
   '2015-02-21': 72,
   '2015-02-22': 84,
   '2015-02-23': 61,
   '2015-02-24': 71,
   '2015-02-25': 90,
   '2015-02-26': 72,
   '2015-02-27': 52,
   '2015-02-28': 79},
  'Mar': {'2015-03-02': 65,
   '2015-03-03': 75,
   '2015-03-04': 65,
   '2015-03-05': 59,
   '2015-03-06': 63,
   '2015-03-07': 54,
   '2015-03-08': 63,
   '2015-03-09': 76,
   '2015-03-10': 74,
   '2015-03-11': 75,
   '2015-03-12': 70,
   '2015-03-13': 98,
   '2015-03-14': 64,
   '2015-03-15': 55,
   '2015-03-16': 79,
   '2015-03-17': 68,
   '2015-03-18': 57,
   '2015-03-19': 77,
   '2015-03-20': 59,
   '2015-03-21': 54,
   '2015-03-22': 60,
   '2015-03-23': 71,
   '2015-03-24': 57,
   '2015-03-25': 65,
   '2015-03-26': 84,
   '2015-03-27': 131,
   '2015-03-28': 82,
   '2015-03-29': 86,
   '2015-03-30': 126,
   '2015-03-31': 121},
  'Apr': {'2015-04-02': 106,
   '2015-04-03': 90,
   '2015-04-04': 60,
   '2015-04-05': 89,
   '2015-04-06': 83,
   '2015-04-07': 87,
   '2015-04-08': 81,
   '2015-04-09': 86,
   '2015-04-10': 74,
   '2015-04-11': 78,
   '2015-04-12': 85,
   '2015-04-13': 89,
   '2015-04-14': 125,
   '2015-04-15': 85,
   '2015-04-16': 90,
   '2015-04-17': 67,
   '2015-04-18': 83,
   '2015-04-19': 63,
   '2015-04-20': 76,
   '2015-04-21': 84,
   '2015-04-22': 76,
   '2015-04-23': 77,
   '2015-04-24': 70,
   '2015-04-25': 69,
   '2015-04-26': 69,
   '2015-04-27': 80,
   '2015-04-28': 66,
   '2015-04-29': 60,
   '2015-04-30': 64},
  'May': {'2015-05-02': 70,
   '2015-05-03': 65,
   '2015-05-04': 75,
   '2015-05-05': 65,
   '2015-05-06': 62,
   '2015-05-07': 54,
   '2015-05-08': 57,
   '2015-05-09': 76,
   '2015-05-10': 61,
   '2015-05-11': 56,
   '2015-05-12': 60,
   '2015-05-13': 67,
   '2015-05-14': 68,
   '2015-05-15': 55,
   '2015-05-16': 61,
   '2015-05-17': 49,
   '2015-05-18': 59,
   '2015-05-19': 74,
   '2015-05-20': 44,
   '2015-05-21': 76,
   '2015-05-22': 81,
   '2015-05-23': 53,
   '2015-05-24': 41,
   '2015-05-25': 47,
   '2015-05-26': 54,
   '2015-05-27': 51,
   '2015-05-28': 53,
   '2015-05-29': 48,
   '2015-05-30': 33,
   '2015-05-31': 46},
  'Jun': {'2015-06-02': 80,
   '2015-06-03': 66,
   '2015-06-04': 81,
   '2015-06-05': 67,
   '2015-06-06': 63,
   '2015-06-07': 53,
   '2015-06-08': 56,
   '2015-06-09': 51,
   '2015-06-10': 59,
   '2015-06-11': 63,
   '2015-06-12': 68,
   '2015-06-13': 57,
   '2015-06-14': 69,
   '2015-06-15': 58,
   '2015-06-16': 48,
   '2015-06-17': 49,
   '2015-06-18': 73,
   '2015-06-19': 72,
   '2015-06-20': 58,
   '2015-06-21': 81,
   '2015-06-22': 54,
   '2015-06-23': 57,
   '2015-06-24': 60,
   '2015-06-25': 61,
   '2015-06-26': 49,
   '2015-06-27': 52,
   '2015-06-28': 48,
   '2015-06-29': 51,
   '2015-06-30': 58},
  'Jul': {'2015-07-02': 59,
   '2015-07-03': 55,
   '2015-07-04': 54,
   '2015-07-05': 50,
   '2015-07-06': 61,
   '2015-07-07': 110,
   '2015-07-08': 67,
   '2015-07-09': 47,
   '2015-07-10': 43,
   '2015-07-11': 63,
   '2015-07-12': 70,
   '2015-07-13': 57,
   '2015-07-14': 64,
   '2015-07-15': 61,
   '2015-07-16': 51,
   '2015-07-17': 47,
   '2015-07-18': 59,
   '2015-07-19': 60,
   '2015-07-20': 80,
   '2015-07-21': 64,
   '2015-07-22': 61,
   '2015-07-23': 59,
   '2015-07-24': 61,
   '2015-07-25': 54,
   '2015-07-26': 51,
   '2015-07-27': 68,
   '2015-07-28': 42,
   '2015-07-29': 57,
   '2015-07-30': 65,
   '2015-07-31': 63},
  'Aug': {'2015-08-02': 61,
   '2015-08-03': 58,
   '2015-08-04': 67,
   '2015-08-05': 60,
   '2015-08-06': 57,
   '2015-08-07': 64,
   '2015-08-08': 62,
   '2015-08-09': 48,
   '2015-08-10': 54,
   '2015-08-11': 49,
   '2015-08-12': 55,
   '2015-08-13': 61,
   '2015-08-14': 50,
   '2015-08-15': 64,
   '2015-08-16': 37,
   '2015-08-17': 68,
   '2015-08-18': 51,
   '2015-08-19': 76,
   '2015-08-20': 47,
   '2015-08-21': 62,
   '2015-08-22': 55,
   '2015-08-23': 67,
   '2015-08-24': 56,
   '2015-08-25': 78,
   '2015-08-26': 53,
   '2015-08-27': 59,
   '2015-08-28': 63,
   '2015-08-29': 61,
   '2015-08-30': 54,
   '2015-08-31': 62},

In [ ]:
grouped_month_day_df.to_json(orient='records')

In [ ]:
# dic = {}

# for year in df['Year'].unique():
#     dic[year] = []
#     for month in df['Month'].unique():
#         dic[year][month] = month
#         if grouped_month_day_df.loc[df['Year'] == year and df.loc[df['Month'] == month]:
#                   dic[year][month][date] = grouped_month_day_df['TMAX']