In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nycweatherdata.csv")

In [5]:
df.head()

       STATION    DATE  TMAX  TMIN
0  USW00094728  1/1/13    40    26
1  USW00094728  1/2/13    33    22
2  USW00094728  1/3/13    32    24
3  USW00094728  1/4/13    37    30
4  USW00094728  1/5/13    42    32

In [6]:
df.tail()

          STATION     DATE  TMAX  TMIN
2367  USW00094728  6/26/19    87    72
2368  USW00094728  6/27/19    89    71
2369  USW00094728  6/28/19    89    73
2370  USW00094728  6/29/19    91    72
2371  USW00094728  6/30/19    83    69

In [11]:
df.dtypes

STATION    object
DATE       object
TMAX        int64
TMIN        int64
dtype: object